# Compiled objects and dependencies
*.o
*.d

# Executables
Matt_daemon
Ben_AFK

# Build directories
build/
Bonus/build/
Bonus/build-*/

# Logs
logs/
*.log
/var/log/matt_daemon/   # optional, but good to ignore

# IDE / Editor files
.vscode/
.idea/
.cache/
*.swp
*.swo

# CMake temporary files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
compile_commands.json

# Qt specific
*.pro.user
*.qtc
.qtc/

# Misc
.DS_Store
Thumbs.db
